.login__image--container {
    background-image: url("https://images.unsplash.com/photo-1655396740902-a74fec6453dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQwfGlVSXNuVnRqQjBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    height: 90vh;
    background-size: cover;
}

.signup__image--container {
    background-image: url("https://images.unsplash.com/photo-1542206395-9feb3edaa68d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
    height: 90vh;
    background-size: cover;
}

.signup__form--container,
.login__form--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}